html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* Body text font is set to arial or Helvetica or sans-serif */
body{ margin-top: 0; font-family: Arial, Helvetica, sans-serif; }

/* this is container which store the complete navigation bar */
.container{ margin: auto; width: 90%; overflow: hidden; position: relative; }

/* This is navbar inside conatiner */
.navBar{ background-color:	#88d8b0;}

/* This is a class for logo */
.container .active{ background: #6497b1; }

/* This  is id for dropdown menus of caret */
.container .navBar #myLinks{
  display: none;
 }

/* This is for anchor tag and it is inside container < navbar < a */
.container .navBar a{
  color: white;
  padding: 5px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
 }

/* This is for icon tag which is inside of container < navbar < a < icon */
.container .navBar .icon{
  color: 	white;
  padding: 5px;
  background-color: #6497b1;
  position: absolute;
  top: 0;
  right: 10px;
}
