/* Use a media query to add a breakpoint at 320px: */
@media screen and (min-width: 320px) {

}

/* Use a media query to add a breakpoint at 375px: */
@media screen and (min-width: 375px) {

}

/* Use a media query to add a breakpoint at 414px: */
@media screen and (min-width: 414px) {

}

/* Use a media query to add a breakpoint at 568px: */
@media screen and (min-width: 568px) {

}

/* Use a media query to add a breakpoint at 768px: */
@media screen and (min-width: 768px) {

  /* This  is id for dropdown menus of caret */
  .container .navBar #myLinks{
    display: inline;
    position: absolute;
    right: 0px;
    top: 0;
   }

   .container .navBar #myLinks a{
     float: left;
    }

  /* This is for icon tag which is inside of container < navbar < a < icon */
  .container .navBar .icon{
    display: none;
  }
}

/* Use a media query to add a breakpoint at 1024px: */
@media screen and (min-width: 1024px) {

}

/* Use a media query to add a breakpoint at 1024px: */
@media screen and (min-width: 1200px) {

}
